In [1]:
def say_hello():
    print("Hello")
    print("are")
    print("you")

In [2]:
say_hello()

Hello
are
you

In [3]:
## To create an f-string, prefix the string with the letter “ f ”. The string itself can be formatted in much the same way that you would with str.format().
def say_hello(name):
    print(f'Hello {name}')

In [4]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [5]:
 say_hello('')

Hello

In [6]:
say_hello('Jose')

Hello Jose

In [7]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [8]:
say_hello('Jelly')

Hello Jelly

In [9]:
say_hello()

Hello Default

In [10]:
def add_num(num1,num2):
    return num1+num2

In [11]:
result=add_num(10,20)

In [12]:
result

30

In [13]:
## Just see the difference in return and without return

def print_result(a,b):
    print(a+b)

In [14]:
def return_result(a,b):
    return a+b

In [15]:
print_result(10,20)
return_result(10,20)

30

30

In [16]:
## Lets say if I save both result in two different variable :

result1= print_result(10,20)
result2= return_result(10,30)

30

In [17]:
result1

In [18]:
result2

40

In [19]:
## Above is happening because print_result() is not returning any value , it's just printing it , but return_result is 
## returning the sum of both number to function

In [20]:
type(result1)

NoneType

In [21]:
type(result2)

int

In [22]:
## We don't need to define the datatype, Python dynamically identify the dataType

def sum_numbers(num1,num2):
    return num1+num2

In [23]:
sum_numbers(10,20)

30

In [24]:
sum_numbers('10','2o')

'102o'

# Funtions and Logics

In [25]:
2%2

0

In [26]:
3%2

1

In [27]:
41%40

1

In [28]:
20%2

0

In [29]:
20%2==0

True

In [30]:
21%2==0

False

In [31]:
def even_check(number):
    result3=number%2==0
    return result3

In [32]:
even_check(532)

True

In [33]:
even_check(533)

False

In [34]:
def even_check(number):
    #result3=number%2==0
    return number%2==0

In [35]:
even_check(432)

True

In [36]:
even_check(776678575)

False

In [37]:
# RETURN True if any number in list is even

# ** return stmt for false should be outside of loop , because we are checking if any number in the list is even or not,
# for that we need to travers through the whole list first and then we need to conclude , False
def even_check_in_list(num_list):
    for n in num_list:
        if n%2==0:
            return True
        else:
            pass
        
    return False

In [38]:
even_check_in_list([1,3,5])

False

In [39]:
even_check_in_list([2,4,6,8,10])

True

In [40]:
even_check_in_list([2,1,1,3,])

True

In [41]:
even_check_in_list([1,1,1,3,6])

True

In [42]:
## Returns all the even number in the list

def check_all_even_number_in_list(num_list):
    sorted_even_list=[]
    even_list=[]
    for n in num_list:
        if n%2==0:
            even_list.append(n)
        else:
            pass
        
    return even_list

In [43]:
check_all_even_number_in_list([2,1,3,4,5,6,10,33,4,6,6,8,])

[2, 4, 6, 10, 4, 6, 6, 8]

## Tuples unpacking using Python Functions

In [44]:
stock_prices=[('Apple',200),('Google',5000),('Mango',400)]

In [45]:
stock_prices['Apple']

TypeError: list indices must be integers or slices, not str

In [46]:
stock_prices

[('Apple', 200), ('Google', 5000), ('Mango', 400)]

In [47]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 5000)
('Mango', 400)

In [48]:
for fruit,price in stock_prices:
    print(fruit)

Apple
Google
Mango

In [49]:
for fruit,price in stock_prices:
    print(price+(.50*price))

300.0
7500.0
600.0

In [50]:
work_hours = [('abby',100),('billy',50000),('sandy',500)]

In [51]:
def most_desrving(work_hours):
    current_max=0
    most_efficient=''
    for name,hours in work_hours:
        if hours > current_max:
            current_max=hours
            most_efficient=name
        else:
            pass
            
    return (most_efficient,current_max)

In [52]:
most_desrving(work_hours)

('billy', 50000)

In [53]:
result = most_desrving(work_hours)

In [54]:
result

('billy', 50000)

In [55]:
name,hours = most_desrving(work_hours)

In [56]:
name

'billy'

In [57]:
hours

50000

In [58]:
##Instead of doing the above one, we can assign the value in item and chek
item = most_desrving(work_hours)

In [59]:
item

('billy', 50000)

In [60]:

item[0]

'billy'

In [61]:
item[1]

50000

## Interaction between Python Functions

In [62]:
example = [1,2,3,4,5,6,7]

In [63]:
from random import shuffle

In [64]:
shuffle(example)

In [65]:
example

[7, 2, 5, 1, 6, 3, 4]

In [66]:
example

[7, 2, 5, 1, 6, 3, 4]

In [67]:
result = shuffle(example)

In [68]:
result

In [69]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [70]:
result = shuffle_list(example)

In [71]:
result

[1, 7, 3, 6, 4, 2, 5]

## Indentify the hidden O in list

In [72]:
my_list = ['','O','']

In [73]:
shuffle_list(my_list)

['', 'O', '']

In [74]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess=input('pick a number : 0,1 or 2')
        
    return int(guess)

In [75]:
my_index = player_guess()

pick a number : 0,1 or 21

In [76]:
def check_guess(my_list, guess):
    if my_list[guess]=='O':
        print('Correct')
    else:
        print('Wrong guess')
        print(my_list)

In [77]:
# INITIAL LIST
mylist=['','O','']
# SUFFLE LIST
mixedList = shuffle_list(mylist)
# USER GUESS
guess = player_guess()
#CHECK GUESS
check_guess(mixedList,guess)

pick a number : 0,1 or 22
Wrong guess
['O', '', '']

## Excersize

In [78]:
def myfunc(x,y,z):
    if z is True:
        return x
    else:
        return y

In [79]:
myfunc(10,20,True)

10

In [80]:
## Sum of two number 

def sum_of_Number(num1,num2):
    return num1+num2

In [81]:
sum_of_Number(20,30)

50

In [82]:
## Identify the greater in two argument

def greaterone(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2

In [83]:
greaterone(60,100)

100

## *args and *kwargs in Python

In [84]:
# a,b in below are the positional argument where a,b, assign to 40,50 subsequently

def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b))*0.05

In [85]:
myfunc(50,40)

4.5

In [86]:
def myfunc(a,b,c,d=0):
    # Returns 5% of the sum of a and b
    return sum((a,b))*0.05

In [87]:
myfunc(30,50)

TypeError: myfunc() missing 1 required positional argument: 'c'

In [88]:
myfunc(30,40,50)

3.5

In [89]:
## Just to avoid the possibility of error due to arugument passing,
## we use *args,which allows us to passing an arbitary argument
## *args basically return TUPLE

def myfunc(*args):
    return sum(args) * 0.50

In [90]:
myfunc(60)

30.0

In [91]:
myfunc(45,70,70)

92.5

In [92]:
myfunc(45,67,8,2,344,560,3,4,5,6,7,8)

529.5

In [93]:
## kwargs - key-word argument
## **kwargs returns DICTIONARY

def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My Fruit of choice is {}'.format(kwargs['fruit']))
    elif 'veggie' in kwargs:
        print('My veggie of choice {}'.format(kwargs['veggie']))
    else:
        print('I did not find any fruit')

In [94]:
myfunc(fruit='apple')

My Fruit of choice is apple

In [95]:
myfunc(fruit='apple',veggie='latticue')

My Fruit of choice is apple

In [100]:
def myfunc(*args,**kwargs):
    print('*args return tuple',args)
    print('**kwargs retun dictionary',kwargs)
    print('I would like {} {}'.format(args[1],kwargs['food']))

In [101]:
myfunc(10,20,30,fruit='orange',animal='dog',food='dalBati')

*args return tuple (10, 20, 30)
**kwargs retun dictionary {'fruit': 'orange', 'animal': 'dog', 'food': 'dalBati'}
I would like 20 dalBati

In [98]:
def myfunc(st):
    
    res=[]
    for index in range(len(st)):
        if index%2 ==0:
            res.append(st[index].upper())
        else: 
            res.append(st[index].lower())
            
    return ''.join(res)

In [99]:
myfunc('Anthropomorphism')

'AnThRoPoMoRpHiSm'

In [107]:
## Function taking list and returning only even number from that

def myfunc(*args):
    return [x for x in args if x%2==0]

In [109]:
myfunc(1,2,3,4,5,6,78,8)

[2, 4, 6, 78, 8]

## Excersize

In [119]:
## Lesser in events 

def lesser_in_evens(a,b):
    if a%2==0 and b%2==0:
        
        if a>b:
            result= a
        else: 
            result= b
    else:
        #both number are odd.
        if a>b:
            result =a
        else:
            result =b
    return result


def lesser_in_other(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        #both number are odd
        return max(a,b)

In [120]:
lesser_in_evens(2,4)

4

In [121]:
lesser_in_evens(1,3)

3

In [122]:
lesser_in_other(45,47)

47

In [149]:
## Identify from string if both words of two strings begins from same letter

def animal_checker(text):
    wordlist = text.lower().split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0]==second[0]

## Or other way is

def animal_checker2(text):
    wordlist = text.lower().split()
    print(wordlist)
    return wordlist[0][0] == wordlist[1][0]

In [150]:
animal_checker('Lansh Layla')

True

In [151]:
animal_checker('layla sandu')

False

In [152]:
animal_checker2('Crazy cat')

['crazy', 'cat']

True

In [167]:
## Goven two integers , return true of sum of the two integer is 20, or one of the integer is 20 else false

def check_sum_and_digit(a,b):
    sum= a+b
    if sum==20:
        return True
    elif a==20 or b==20:
        return True
    else:
        return False
    
    
## we can write in this way as well

def check_sum_and_digit2(n1,n2):
    return n1+n2==20 or n1==20 or n2==20

In [168]:
check_sum_and_digit(10,10)

True

In [169]:
check_sum_and_digit(20,1)

True

In [170]:
check_sum_and_digit(3,20)

True

In [171]:
check_sum_and_digit(15,4)

False

In [172]:
check_sum_and_digit2(10,10)

True

In [173]:
check_sum_and_digit2(20,2)

True

In [174]:
check_sum_and_digit2(2,20)

True

In [175]:
check_sum_and_digit2(17,67)

False

In [11]:
## Write a function to cpaitalize the 1st and 4th letter of name 

def capitalName(str):
    cap_list=[]
    for i in range(len(str)):
        if i==1 and i==4:
            cap_list.append(str[i].upper())
        else:
            pass
          
    return ''.join(cap_list)

In [12]:
capitalName('sachin')

''

In [31]:
def capitalNameLetter(str):
    
    first_letter = str[0]
    inbetweenLetter = str[1:3]
    fourthLetter = str[4]
    rest = str[4:]
    
    return first_letter.upper() + inbetweenLetter + fourthLetter.upper() + rest


## Other method is  :


def capitalOtherMethod(str):
    
    firstHalf = str[:3]
    secondHalf = str[3:]
    
    
    return firstHalf.capitalize() + secondHalf.capitalize()

In [32]:
capitalNameLetter('sdghfgshduisdjhf')

'SdgFfgshduisdjhf'

In [33]:
capitalOtherMethod('sdghfgshduisdjhf')

'SdgHfgshduisdjhf'

In [42]:
## Rever the words in sentence

## .join basically join the chart/ words/ string
## ''.join(str) / ' '.join(str) / '----'.join(str)/ 'ooooooo'.join(str)

def reverseWordsSentence(str):
    
    wordList = str.split()
    reversewordlist=wordList[::-1]
    
    return ' '.join(reversewordlist)

In [43]:
reverseWordsSentence('I am Sachin')

'Sachin am I'

In [44]:
reverseWordsSentence('I am Sachin')

'Sachin am I'

In [51]:
## Write a function which return true for given integer if n is within 10 either 100 or 200

def almost_there(num):
    
    return (abs(100-num) <=10) or (abs(200-num) <=10)

In [52]:
almost_there(104)

True

In [53]:
almost_there(209)

True

In [58]:
## write a function that return true if in array contains 3 next to 3 somewhere

def has33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
        
    return False


## Other way for above program 

def has33other(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
        
    return False

In [59]:
has33([1,3,4,5])

False

In [60]:
has33([1,3,34,3,3,])

True

In [62]:
has33other([1,3,3,4,5,6])

True

In [63]:
has33other([1,3,4,5])

False

In [82]:
### Write a program for a given string which return a String with every character become three times

def threecharinString(str):
    charlist=[]
    for i in range(len(str)):
        charlist.append(str[i]*3)
        
    return ''.join(charlist)

## Other way 

def threecharinString1(text):
    
    result =''
    for char in text:
        result+=char*3
        
    return result

In [83]:
threecharinString('sachin')

'sssaaaccchhhiiinnn'

In [84]:
threecharinString1('sachin')

'sssaaaccchhhiiinnn'

## Lambda expressions, Map and filter

In [98]:
def squard(num):
    return num**2

In [99]:
my_nums=[1,2,3,4,5]

In [101]:
for item in map(squard,my_nums):
    print(item)

1
4
9
16
25

In [103]:
## Othe way is :

list(map(squard,my_nums))

[1, 4, 9, 16, 25]

In [105]:
## Filter function use to return even number 

def filter_val(num):
    return num%2==0

In [106]:
my_numss=[1,2,3,4,5,6,7,8,9,10]

In [107]:
filter(filter_val,my_numss)

In [109]:
for num in filter(filter_val,my_numss):
    print(num)

2
4
6
8
10

In [110]:
## The other way is  to use filter 
list(filter(filter_val,my_numss))

[2, 4, 6, 8, 10]

In [111]:
## Understnad the Lambda Expression : it is known as anonymous function

def squar(num): return num**2

In [112]:
squar(9)

81

In [113]:
# Since we are going to use it single time or it is anonymous function , in that case we can just 
# mitigate the name of function :

## Lamda function :

squaredd = lambda num: num**2

In [114]:
squaredd(9)

81

In [121]:
## Same concept we can appply in map and filter

list(map(lambda num:num**2, my_nums))

[1, 4, 9, 16, 25]

In [122]:
list(filter(lambda num:num%2==0,my_numss))

[2, 4, 6, 8, 10]

In [84]:
### Palidrome program 

def palindrome(text):
    text = text.replace(' ','')
    palString=''
    
    for i in text:
        palString=i+palString
    print(f'Palstring is {palString}') 
    
    if (palString==text):
        return "String is palindrom"
    else:
        return 'String is not palindrom'

In [85]:
palindrome('I ama I')

Palstring is IamaI

'String is palindrom'

In [191]:
##Pangram : Check every letter of string is haing single occurance 

def pangram(str):
    
    wordlist= str.split()
    print(wordlist)
    for words in wordlist:
            print(len(wordlist))

In [192]:
pangram('The quick boat sel of notion')

['The', 'quick', 'boat', 'sel', 'of', 'notion']
6
6
6
6
6
6

In [8]:
## Identofy the number of lower and uppercase character in a string

def countthennumberof_lowerandUpper(str):
    
    lowercase=0
    uppercase=0
    
    for char in str:
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass
        
    print(f'Orifinal string is {str}')
    print(f'Lower case count in the string is: {lowercase}')
    print(f'Uppercase count in the string is : {uppercase}')
    
    
    
#Other way is to use dictionary:

def countnumbeofchars(str):
    d={'lower':0,'upper':0}
    
    for char in str:
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass
        
    print(f'Original string is : {str}')
    print(f'Lower char count is original string is :{d["lower"]}')
    print(f'Upper char count is original string is :{d["upper"]}')

In [9]:
countthennumberof_lowerandUpper('This is My best practice SOLUTION , where I can get some of the number and OBVIOUSLY we WILL GET IT , IS IT ?')

Orifinal string is This is My best practice SOLUTION , where I can get some of the number and OBVIOUSLY we WILL GET IT , IS IT ?
Lower case count in the string is: 49
Uppercase count in the string is : 33

In [10]:
countnumbeofchars('This is My best practice SOLUTION , where I can get some of the number and OBVIOUSLY we WILL GET IT , IS IT ?')

Original string is : This is My best practice SOLUTION , where I can get some of the number and OBVIOUSLY we WILL GET IT , IS IT ?
Lower char count is original string is :49
Upper char count is original string is :33

In [46]:
## Wriet a function which return unique elements from a list

def unique(lst):
    return list(set(lst))


## Other way to write this:

def unique_ele(lst):
    
    uni_lst=[]
    
    for i in lst:
        if i not in uni_lst:
            uni_lst.append(i)
    
    return uni_lst

In [47]:
unique([1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,])

[1, 2, 3, 4, 5, 6, 7]

In [48]:
unique_ele([1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,])

[1, 2, 3, 4, 5, 6, 7]

In [67]:
## Multiply each element of a list

def listMul(lst):
    total=1
    for num in lst:
        total=total*num
    
    
    return total

In [68]:
listMul([1,2,3,4,5,6])

22

In [1]:
## Displaying information

def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [2]:
row1=[' ',' ',' ']
row2=[' ',' ',' ']
row3=[' ',' ',' ']

In [3]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [4]:
row1[2]='X'
row2[1]='O'
row3[0]='X'

In [5]:
display(row1,row2,row3)

[' ', ' ', 'X']
[' ', 'O', ' ']
['X', ' ', ' ']

In [6]:
## Inputing value 

input('please enter a value')

please enter a value2

'2'

In [7]:
## Input function always returns the value as string

# ex. 

reult = input('Enter number')

Enter number3

In [8]:
type(reult)

str

In [9]:
## We need to convert into the integer or any specific format we want to 

result = int(input('Enter the number : '))

Enter the number : 4

In [10]:
type(result)

int

In [11]:
position_index = input('Please enter nth place where you want to put the X : ')

Please enter nth place where you want to put the X : 2

In [12]:
row1[position_index]

TypeError: list indices must be integers or slices, not str

In [13]:
position_index = int(input('Please enter nth place where you want to put the X : '))

Please enter nth place where you want to put the X : 3

In [14]:
type(position_index)

int

In [10]:
## Make the choice customize 

def user_choice():
    
    choice = input("Please enter the number as per choice from (0-10): ")
    if choice.isdigit:
        return int(choice)

In [11]:
user_choice()

Please enter the number as per choice from (0-10): 2

2

In [12]:
user_choice()

Please enter the number as per choice from (0-10): sach

ValueError: invalid literal for int() with base 10: 'sach'

In [13]:
user_choice()

Please enter the number as per choice from (0-10): "sachin"

ValueError: invalid literal for int() with base 10: '"sachin"'

In [27]:
## Now we are setting up the choice that , untill there is digit be entered there , it needs to ask to put 
## digit only 


def user_choice():
    
    #wrong_choice = 'WRONG CHOICE'
    choice=''
    
    while choice.isdigit()==False:
        choice = input("Please enter the number as per choice from (0-10): ")
        
        if choice.isdigit()==False:
            print(f'Sorry {choice} is the wrong choice')
        
    return int(choice)

In [28]:
user_choice()

Please enter the number as per choice from (0-10): sac
Sorry sac is the wrong choice
Please enter the number as per choice from (0-10): rfff
Sorry rfff is the wrong choice
Please enter the number as per choice from (0-10): 12

12

In [30]:
## Few checks on input, lets say we need to check the value what we are passing in list of not

result = 'WRONG choice'

accepted_values = [1,2,3]

result in accepted_values

False

In [31]:
result not in accepted_values

True

In [58]:
def user_choice():
    
    # VARIABLES
    
    #Initial
    choice = 'WRONG CHOICE'
    acceptable_range = range(0,10)
    within_range = False
    
    #Two condition need to be checked
    # DIGIT or within_range==False
    
    while choice.isdigit()==False or within_range==False:
        choice = input("Please enter the number as per choice from (0-10): ")
        
        #DIGIT CHECK
        if choice.isdigit()==False:
            print(f'Sorry {choice} is the wrong choice')
            
            
        #Range Check
        if choice.isdigit()==True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print(f'Sorry {choice} is out of range')
                within_range = False
            
        
    return int(choice)

In [59]:
user_choice()

Please enter the number as per choice from (0-10): sa
Sorry sa is the wrong choice
Please enter the number as per choice from (0-10): 34
Sorry 34 is out of range
Please enter the number as per choice from (0-10): 45
Sorry 45 is out of range
Please enter the number as per choice from (0-10): sadsdfs
Sorry sadsdfs is the wrong choice
Please enter the number as per choice from (0-10): 2

2